@import './styles/index.scss';

*{
    margin: 0;
    padding: 0;
    cursor: none;
}

video{
    background-color: black;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $background;
}

::-webkit-scrollbar-thumb {
    background: rgb(187, 97, 97);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

.App{
    color: $light-text;
}